In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\sanja\Downloads\uber_rides_data.xlsx")

In [3]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [4]:
df.shape

(200000, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

###### 1. What is the shape of given dataset?

In [6]:
print(df.shape)

(200000, 8)

###### 2. How many integer columns(by default) are given in the dataset?

In [7]:
int_columns = df.select_dtypes(include='int')
len(int_columns.columns)

2

###### 3. How many missing values exists in 'dropoff_longitude' column?

In [8]:
missing_val = df['dropoff_longitude'].isnull().sum()

In [9]:
print(f"Number of missing values in 'dropoff_longitude': {missing_val}")

Number of missing values in 'dropoff_longitude': 1

###### 4. What is the data type of ' pickup_datetime' feature in your data?

In [10]:
pickup_datetime_dtype = df['pickup_datetime'].dtype
print(pickup_datetime_dtype)

object

In [11]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'],utc=True)

In [12]:
pickup_datetime_after_dtype = df['pickup_datetime'].dtype
print(pickup_datetime_after_dtype)

datetime64[ns, UTC]

###### 5.  Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [13]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [14]:
df['pickup_datetime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: pickup_datetime
Non-Null Count   Dtype
--------------   -----
200000 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1)
memory usage: 1.5 MB

###### 6. Which function can be used to remove null values from the dataframe?

In [15]:
# Using dropna() to remove null values
clean_df = df.dropna()
clean_df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1

###### 7.  What is the average fare amount?

**Remove the null values from the dataframe to answer the following question.**

In [16]:
round(clean_df['fare_amount'].mean(), 6)

11.359892

###### 8. Calculate distance between each pickup and dropoff points using Haversine formula. 
**What is the median haversine distance between pickup and dropoff location according to the given dataset?**

Read about Haversine Distance here: https://en.wikipedia.org/wiki/Haversine_formula

In [17]:
import numpy  as np

In [18]:
def haversine(long1, lat1, long2, lat2):
    long1, lat1, long2, lat2 = map(np.radians, [long1, lat1, long2, lat2])
    
    dlong = long2 - long1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlong/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    r = 6371  
    return c * r

In [19]:

df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_longitude'], row['pickup_latitude'], 
                                                         row['dropoff_longitude'], row['dropoff_latitude']), axis=1)

In [22]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,1.683323
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,2.457590
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,5.036377
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,1.661683
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,4.475450

In [21]:
median_dis = round(df['haversine_distance'].median(),2)
print(f"the median haversine distance is :: {median_dis} km")

the median haversine distance is :: 2.12 km

###### 9. What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [25]:
max_haversine_distance = round(df['haversine_distance'].max(), 2)
print(f"the maximum haversine distance is :: {max_haversine_distance}")

the maximum haversine distance is :: 16409.24

###### 10. How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [27]:
len(df[df['haversine_distance'] == 0.0])

5632

###### 11. What is the mean 'fare_amount' for rides with 0 haversine distance?
*
Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook

In [30]:
rides_with_0 = df[df['haversine_distance'] == 0.0]

In [32]:
round(rides_with_0['fare_amount'].mean(), 2)

11.59

###### 12. What is the maximum 'fare_amount' for a ride?

In [33]:
df['fare_amount'].max()

499.0

###### 13. What is the haversine distance between pickup and dropoff location for the costliest ride?
*
Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

In [37]:
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]
costliest_dis = round(costliest_ride['haversine_distance'].values[0],5)
costliest_dis

0.00079

###### 14. How many rides were recorded in the year 2014?

In [38]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['year'] = df['pickup_datetime'].dt.year

In [40]:
num_rides_2014 = len(df[df['year'] == 2014])
num_rides_2014

29968

###### 15. How many rides were recorded in the first quarter of 2014?

In [50]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['year'] = df['pickup_datetime'].dt.year
df['month'] = df['pickup_datetime'].dt.month

In [51]:
rides_q1 = df[(df['year'] == 2014) & (df['month'].isin([1,2,3]))]

In [52]:
num_rides_q1_2014 = rides_q1_2014.shape[0]
num_rides_q1_2014

7687

###### 16. On which day of the week in September 2010, maximum rides were recorded ?

In [ ]:
df['pi']

In [71]:
df['day_of_week'] = df['pickup_datetime'].dt.weekday

In [78]:
rides_sep_2010 = df[(df['year'] == 2010) & (df['month'] == 9)]
rides_sep_2010

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance,year,month,day_of_week
23,25121708,7.7,2010-09-04 16:12:00+00:00,-73.994300,40.739512,-73.988070,40.724482,2,1.751763,2010,9,5
85,11536406,7.7,2010-09-08 10:16:01+00:00,-73.987383,40.721255,-73.954733,40.730683,1,2.944304,2010,9,2
87,11267091,4.5,2010-09-22 12:15:00+00:00,-73.981920,40.761172,-74.016152,40.704765,1,6.903596,2010,9,2
126,8791172,5.3,2010-09-21 12:38:00+00:00,-73.956158,40.781593,-73.966138,40.773645,1,1.219522,2010,9,1
129,30203807,10.5,2010-09-10 16:28:00+00:00,-73.995627,40.749295,-73.965087,40.771610,1,3.573956,2010,9,4
...,...,...,...,...,...,...,...,...,...,...,...,...
199584,52152685,4.5,2010-09-02 02:07:00+00:00,-73.995380,40.721638,-73.988308,40.731667,1,1.264418,2010,9,3
199665,44243859,8.5,2010-09-04 21:05:00+00:00,-74.001550,40.741060,-73.995810,40.739425,3,0.516638,2010,9,5
199851,37613854,11.7,2010-09-13 14:46:00+00:00,-74.009923,40.714860,-74.007020,40.705720,1,1.045362,2010,9,0
199862,5095334,6.9,2010-09-30 11:29:20+00:00,-73.976584,40.757000,-73.991153,40.765653,1,1.559298,2010,9,3
199901,19337978,8.9,2010-09-22 08:19:31+00:00,-73.930492,40.761509,-73.963917,40.759702,1,2.822347,2010,9,2

In [81]:
rides_sep_2010['pickup_datetime'].dt.day_name().value_counts().idxmax()

'Thursday'

###### Apply a Machine Learning Algorithm to predict the fare amount given following input features:
**passenger_count, distance and ride_week_day.**

**Perform a 70-30 split of data.**

**Which algorithm gives the least adjusted R square value?**

In [97]:
df.dropna(inplace=True)

In [98]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance,year,month,day_of_week
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,1.683323,2015,5,3
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,2.457590,2009,7,4
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,5.036377,2009,8,0
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,1.661683,2009,6,4
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,4.475450,2014,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1,0.112210,2012,10,6
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1,1.875050,2014,3,4
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2,12.850319,2009,6,0
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695415,1,3.539715,2015,5,2
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1,5.417783,2010,5,5

In [99]:
X = df[['passenger_count','haversine_distance','day_of_week']]
y = df['fare_amount']

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size=0.3,random_state=42)

#### Data Preparation

In [102]:
from sklearn.preprocessing import StandardScaler

In [103]:
scaler = StandardScaler()

In [104]:
X_train_transformed = pd.DataFrame(scaler.fit_transform(X_train),columns=scaler.get_feature_names_out(),index= X_train.index)

In [105]:
X_test_transformed = pd.DataFrame(scaler.transform(X_test),columns=scaler.get_feature_names_out(),index=X_test.index)

##### LinearRegression

In [106]:
from sklearn.linear_model import LinearRegression

In [107]:
regression = LinearRegression()

In [108]:
regression.fit(X_train_transformed,y_train)

LinearRegression()

In [109]:
y_pred = regression.predict(X_test_transformed)

In [110]:
from sklearn import metrics

In [111]:
metrics.r2_score(y_pred,y_test)

-1244.6565605765286

##### RandomForestRegressor

In [112]:
from sklearn.ensemble import RandomForestRegressor

In [113]:
Randomforst = RandomForestRegressor()

In [114]:
Randomforst.fit(X_train_transformed,y_train)

RandomForestRegressor()

In [115]:
y_pred = Randomforst.predict(X_test_transformed)

In [116]:
metrics.r2_score(y_pred,y_test)

0.49127994117753404